<h1>All places</h1>
<hr>
<h3>Select category: </h3>

<div class="row">
  <%= @shops.each do |shop| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("medium_default.jpg", size: "250x250") %>
        <div class="caption">
          <h4><%= link_to shop.title, shop_path(shop) %></h4>

        </div>
      </div>
    </div>
  <% end %>
</div>
