<h1>All places</h1>
<hr>
<h3>Select category:
  <% @categories.each do |category| %>
    | <%= link_to category.title, categories_show_path(category) %>
  <% end %>
</h3>
<br>

<div class="row">
  <% @shops.each do |shop| %>
    <div class="col-xs-6 col-md-3">
      <div class="card border-secondary mb-3">
        <%= image_tag(shop.image.url(:medium)) %>
        <div class="card-header">
          <h4><%= link_to shop.title.truncate(25, separator: ' '), shop_path(shop) %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>

