<h1><%= @category.title %>'s</h1>

<div class="row">
  <% @category.shops.each do |shop| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("medium_default.jpg", size: "280x280") %>
        <div class="caption">
          <h4><%= link_to shop.title, shop_path(shop) %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
