<div class="col-md-6">
  <div class="card">
    <h5 class="card-header"><b><%= review.user.name %></b></h5>
    <div class="card-body">
      <h5 class="card-title"><%= review.body %></h5>
      <p class="card-text">Rated it for: <B> <%= review.rating %></B></p>
    </div>
  </div>
</div>
<br>
